@font-face {
    font-family: "VikingNormal";
    src: url('./fonts/VikingNormal.otf');
    src: url('.fonts/VikingNormal.otf') format('embedded-opentype'),
}

* {
    box-sizing: border-box;
}

.image {
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    font-size: 50px;
}

h3 {
    font-size: 30px;
    font-weight: 800;
    color: bisque;
}

.background{
    background-color: rgb(183, 120, 67);
    color: antiquewhite;
    font-family: "VikingNormal";
}


.title-ul {
    width: 800px;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    margin: 50px auto
}

.title-ul li {
    margin: 10px 10px;
    display: inline-block;
}

.links-list a{
  background-color: antiquewhite;
  color: rgb(77, 41, 13);
  text-decoration: none;
  padding: 30px 60px;
  display: inline-block;
}

.links-list a:hover {
    background-color: rgb(77, 41, 13);
    color: antiquewhite;
  }

 p {
    line-height: 1.5; 
 }

ul, ol {
    line-height: 1.7;
 }